@keyframes underline-expand {
  0% {
    width: 0;
    left: 50%;
  }
  50% {
    width: 50%;
    left: 25%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

.hover\:underline-animation:hover::after{
  content: "";
  display: block;
  height: 2px;
  background-color: #6b46c1; 
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  animation: underline-expand 0.1s forwards;
}
